.skills-section {
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills-section h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.skills-section p {
  margin: 10px 0;
  font-size: 18px;
  color: #555;
}
